.node {
    width: 25px;
      height: 25px;
        outline: 1px solid rgb(175, 216, 248);
    background-color: rgb(255, 255, 255);
          display: inline-block;
  }

.node-alive {
    background-color: rgb(12, 53, 71);
    border-radius: 25%;
  }

.node-dead1 {
    background-color: rgba(12, 53, 71, 0.8);
    border-radius: 25%;
  }
.node-dead2 {
    background-color: rgba(12, 53, 71, 0.6);
    border-radius: 25%;
  }
.node-dead3 {
    background-color: rgba(12, 53, 71, 0.4);
    border-radius: 25%;
  }
.node-dead4 {
    background-color: rgba(12, 53, 71, 0.2);
    border-radius: 25%;
  }
