.node {
    width: 25px;
      height: 25px;
        /* outline: 1px solid rgb(175, 216, 248); */
          display: inline-block;
	  vertical-align: top;
  }

.node-alive {
    background-color: rgb(113, 217, 227);
    border-radius: 100%;
  }

.node-dead1 {
    background-color: rgb(84, 163, 170);
    border-radius: 100%;
  }
.node-dead2 {
    background-color: rgb(65, 130, 132);
    border-radius: 100%;
  }
